#Movies problem from Lab 14

In [1]:
#installed recsys on my computer

"""
##install python-recsys

### first install dependencies

pip install csc-pysparse networkx divisi2

###then install recsys
git clone https://github.com/python-recsys/python-recsys.git
cd python-recsys/

python setup.py install
"""

'\n##install python-recsys\n\n### first install dependencies\n\npip install csc-pysparse networkx divisi2\n\n###then install recsys\ngit clone https://github.com/python-recsys/python-recsys.git\ncd python-recsys/\n\npython setup.py install\n'

In [42]:
import pandas as pd
import numpy as np

In [44]:
import recsys.algorithm
recsys.algorithm.VERBOSE = True
from recsys.algorithm.factorize import SVD

In [3]:
! ls movielens

README      movies.dat  ratings.dat users.dat

In [4]:
movies = pd.read_table('movielens/movies.dat', sep='::', names= ['ITEMID', 'Title', 'Genres'], index_col= 'ITEMID')

//anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:648: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  ParserWarning)

In [6]:
movies.head()

                                     Title                        Genres
ITEMID
1                         Toy Story (1995)   Animation|Children's|Comedy
2                           Jumanji (1995)  Adventure|Children's|Fantasy
3                  Grumpier Old Men (1995)                Comedy|Romance
4                 Waiting to Exhale (1995)                  Comedy|Drama
5       Father of the Bride Part II (1995)                        Comedy

In [7]:
svd = SVD()

In [8]:
#populating the data set following the guide from lab

svd.load_data(filename='./movielens/ratings.dat', sep='::', format={'col':0, 'row':1, 'value':2, 'ids': int})

Loading ./movielens/ratings.dat
..........|

In [9]:
k = 100
svd.compute(k=k, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True)

Creating matrix (1000209 tuples)
Matrix density is: 4.4684%
Updating matrix: squish to at least 10 values
Computing svd k=100, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True
[WARNING] mean_center is True. svd.similar(...) might return nan's. If so, then do svd.compute(..., mean_center=False)

In [10]:
movies[movies.Title == "Toy Story (1995)"]

                   Title                       Genres
ITEMID
1       Toy Story (1995)  Animation|Children's|Comedy

In [11]:
movies[movies.Title == "Bug's Life, A (1998)"]

                       Title                       Genres
ITEMID
2355    Bug's Life, A (1998)  Animation|Children's|Comedy

In [12]:
ITEMID1 = 1    # Toy Story (1995)
ITEMID2 = 2355 # A bug's life (1998)
print svd.similarity(ITEMID1, ITEMID2)

0.677069366773

In [13]:
svd.similar(ITEMID1)

[(1, 0.99999999999999978),
 (3114, 0.87060391051017305),
 (2355, 0.67706936677314977),
 (588, 0.58073514967544992),
 (595, 0.46031829709744226),
 (1907, 0.44589398718134982),
 (364, 0.42908159895577563),
 (2081, 0.42566581277822413),
 (3396, 0.42474056361934953),
 (2761, 0.40439361857576017)]

In [14]:
MIN_RATING = 0.0
MAX_RATING = 5.0
ITEMID = 1
USERID = 1
svd.predict(ITEMID, USERID, MIN_RATING, MAX_RATING)

5.0

In [15]:
svd.get_matrix().value(ITEMID, USERID)

5.0

In [16]:
#Recommend non rated movies to a user
svd.recommend(USERID, is_row=False)

[(2028, 5.4018452642332546),
 (527, 5.3498144196809516),
 (2905, 5.2133848204673132),
 (318, 5.2052108435955446),
 (1193, 5.1942189963876562),
 (3114, 5.1753939214583697),
 (1, 5.1714259073839521),
 (2019, 5.1037438278754719),
 (1178, 5.0962756861446641),
 (1207, 5.090305272922329)]

In [17]:
#users who should watch Toystory
svd.recommend(ITEMID)

[(869, 6.8215500393190904),
 (4086, 6.2667649038936908),
 (549, 6.2394061595542869),
 (1343, 6.2163075783431427),
 (1586, 6.039893928886932),
 (840, 5.9616632765170472),
 (1676, 5.896233772781037),
 (4595, 5.88945710113423),
 (2691, 5.8735094161364714),
 (2665, 5.8498694241604259)]

In [18]:
svd.compute(k=k, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True, savefile='/tmp/movielens')

Creating matrix (1000209 tuples)
Matrix density is: 4.4684%
Updating matrix: squish to at least 10 values
Computing svd k=100, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True
[WARNING] mean_center is True. svd.similar(...) might return nan's. If so, then do svd.compute(..., mean_center=False)
Saving svd model to /tmp/movielens

In [19]:
svd2 = SVD(filename='/HW_08/toystory')

IOError: [Errno 2] No such file or directory: '/HW_08/toystory.zip'

#Homework 8 Books Recommendation

In [4]:
books = pd.read_csv("BX-Books.csv",sep=';', index_col='ISBN', error_bad_lines=False)
#skipping lines that did not have organized data in such a away that it could be uploaded

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

//anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [23]:
ratings = pd.read_csv("BX-Book-Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726   155061224            5
2   276727   446520802            0
3   276729  052165615X            3
4   276729   521795028            6

In [24]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
User-ID        1048575 non-null int64
ISBN           1048574 non-null object
Book-Rating    1048570 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 32.0+ MB

In [25]:
ratings.ISBN.value_counts()

971880107        2264
316666343        1164
385504209         813
312195516         668
60928336          662
044023722X        595
679781587         578
142001740         555
067976402X        552
671027360         536
446672211         527
316601950         518
059035342X        515
375727345         505
044021145X        487
452282152         486
440214041         479
804106304         476
440211727         469
60930535          455
345337662         449
440226430         442
743418174         436
671021001         434
312278586         430
345370775         422
156027321         417
440241073         417
446605239         415
671003755         401
                 ...
8447315215          1
9021432420          1
345320549           1
756401275           1
99263491            1
736627596           1
20299605            1
097415590X          1
571169570           1
394926080           1
3257228147          1
1582343756          1
582418070           1
198166001           1
876669755           1
385468334           1
892724528           1
874170966           1
156458061X          1
446614076           1
1873176406          1
096662727X          1
1881548066          1
1565042328          1
932813429           1
9022910652          1
440502705           1
250041997           1
7544223213/14       1
8804339993          1
dtype: int64

#ratings
This dataset contains the rating and user ID of the individual who gave the rating for a specific book, identified by ISBN number. This data set contains 1149780 ratings. 

The three ISBN numbers that have the greatest number of ratings within this data set are: 

Wild Animus: A Novel By Rich Shapero 0971880107    2502

The Lovely Bones by Alice Sebold 0316666343    1295

The Da Vinchi Code, By Dan Brown 0385504209     883

In [8]:
books.head()

,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
ISBN,,,,,,,
0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271360 entries, 0195153448 to 0767409752
Data columns (total 7 columns):
Book-Title             271360 non-null object
Book-Author            271360 non-null object
Year-Of-Publication    271360 non-null object
Publisher              271358 non-null object
Image-URL-S            271360 non-null object
Image-URL-M            271360 non-null object
Image-URL-L            271357 non-null object
dtypes: object(7)
memory usage: 16.6+ MB

#books
This data set contians 271360 books. The origional data set had 19 books (rows) that did not have correctly formatted variables, making it difficult to upload the data using the desired format. So I decided to drop the rows that were not in the correct format. This may be an issue later at someponit if the books data set needs to interact with other the data sets such as ratings or users.

In [10]:
users = pd.read_csv("BX-Users.csv",sep=';', index_col= 'User-ID')
users.head()

                                   Location  Age
User-ID
1                        nyc, new york, usa  NaN
2                 stockton, california, usa   18
3           moscow, yukon territory, russia  NaN
4                 porto, v.n.gaia, portugal   17
5        farnborough, hants, united kingdom  NaN

In [11]:
#replacing the nulls with 0s
users.Age[users.Age.isnull()].fillna(0)

User-ID
1         0
3         0
5         0
7         0
8         0
9         0
12        0
14        0
15        0
16        0
17        0
22        0
23        0
26        0
32        0
34        0
39        0
43        0
45        0
48        0
49        0
52        0
53        0
55        0
57        0
58        0
60        0
62        0
65        0
68        0
         ..
278790    0
278791    0
278793    0
278797    0
278799    0
278801    0
278802    0
278804    0
278806    0
278813    0
278816    0
278823    0
278825    0
278827    0
278828    0
278829    0
278831    0
278834    0
278837    0
278839    0
278841    0
278842    0
278845    0
278847    0
278848    0
278850    0
278854    0
278856    0
278857    0
278858    0
Name: Age, dtype: float64

In [12]:
#using the same methods as the titanic data set, replacing the ages with the std and mean so it wont
#alter the data set as much
users.Age[users.Age.notnull()].describe()

count    168096.000000
mean         34.751434
std          14.428097
min           0.000000
25%          24.000000
50%          32.000000
75%          44.000000
max         244.000000
Name: Age, dtype: float64

In [13]:
users.Age.fillna(np.random.normal(34.751434,14.428097),inplace=True)

In [14]:
#values after using the random replacement of NaN values with the mean and std from the group of users that provided age
#the Mean is failry close, the std is more signifcantly lower (in comparison to the change in mean)

users.Age[users.Age.notnull()].describe()

count    278858.000000
mean         30.322204
std          12.460257
min           0.000000
25%          23.600262
50%          23.600262
75%          35.000000
max         244.000000
Name: Age, dtype: float64

#users
More than 1/3 of the data set did not have values for ages, so I decided to use the mean and std in place of the NaN values, becuase it made sense to preserve that portion of the data set rather than just dropping the users that did not have ages. There are other methdos that could have been considered, but this one was the most straight forward to me.

#Pivot table

In [15]:
#pivoted = ratings.pivot(index='User-ID', columns='ISBN', values='Book-Rating')

In [16]:
#having trouble getting the pivot table to run. When I push the command it runs for 10 min and then causes a
#kernel panic. Skippin this for now.

In [ ]:

#ratings_pivot = pd.pivot_table(ratings_clean, values=['Rating'], columns=['ISBN', 'User_ID'], aggfunc = np.mean )

# ratings_all = ratings_pivot.unstack(-1)

#ratings_all.head(10)

In [ ]:
#ratings_value = ratings_all.fillna(0)

In [ ]:
'''
CAN NOT GET THIS PIVOT TABLE TO WORK. IT KEEPS CAUSING A KERNEL PANIC. VERY FRUSTRATING.

'''

#cosine similarity

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
#cant do this one until I get the pivot table figured out.

#SVD model

In [46]:
ratings_clean = pd.read_csv("bxbr.csv",sep=';', names= ['User_ID', 'ISBN', 'Rating'])
ratings_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
User_ID    1149780 non-null int64
ISBN       1149780 non-null object
Rating     1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 35.1+ MB

In [37]:
svd2 = SVD()

In [39]:
svd2.load_data(filename= 'bxbr.csv', sep=';', format={'col':0, 'row':1, 'value':2, 'ids': int})

Loading bxbr.csv
..........|.

In [ ]:
k = 100
svd.compute(k=k, min_values=10, pre_normalize=None, mean_center=True, post_normalize=True)